body {
  background-image: url("../../img/menu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#control {
    background-color: whitesmoke;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.firstStroke {
    display: inline-block;   
    text-align: right;
}
#mainLabel {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4%;
    text-decoration: underline;
}
#backButton {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: crimson;
    font-size: 20px;
}

.portraitDataDiv {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}
#portrait {
    margin-left: 6%;
    margin-bottom: 6%;
    width: 29%;
}
.portraitData {
    font-size: 193%;
    margin-left: 6%;
    display: block;

}

#buttonDiv {
    margin-bottom: 1%;
    margin-left: 6%;
    display:flex;
}
.Buttons {
    margin-right: 6%;
    margin-bottom: 5%;
    background-color: #ff5050; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    padding: 10px 15px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Задаем указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */

    font-weight: bold; /* Жирный шрифт */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.Buttons:hover {
    background-color: white; 
    color:  #4169E1;
}
.Buttons:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#changeBtn {
    background-color: blue;
}